# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
storybook-static/51.1f96f3b34754bd871dcf.manager.bundle.js
storybook-static/51.1f96f3b34754bd871dcf.manager.bundle.js.LICENSE.txt
storybook-static/76.fe00a01e1ccda4054012.manager.bundle.js
storybook-static/76.fe00a01e1ccda4054012.manager.bundle.js.LICENSE.txt
storybook-static/147.d6c06c14.iframe.bundle.js
storybook-static/229.b3cf327709270c8e7590.manager.bundle.js
storybook-static/291.de177324.iframe.bundle.js
storybook-static/291.de177324.iframe.bundle.js.LICENSE.txt
storybook-static/295.69b747ea8885db4c0ee5.manager.bundle.js
storybook-static/332.1e59bfbc.iframe.bundle.js
storybook-static/332.1e59bfbc.iframe.bundle.js.LICENSE.txt
storybook-static/345.5cf78922.iframe.bundle.js
storybook-static/551.0ed5a4d47b3cd2438ae6.manager.bundle.js
storybook-static/700.5d4c0981.iframe.bundle.js
storybook-static/747.0a8b7e84.iframe.bundle.js
storybook-static/807.650fe97c157253090404.manager.bundle.js
storybook-static/807.650fe97c157253090404.manager.bundle.js.LICENSE.txt
storybook-static/850.00fe9dff.iframe.bundle.js
storybook-static/850.00fe9dff.iframe.bundle.js.LICENSE.txt
storybook-static/874.e8bcc3bf.iframe.bundle.js
storybook-static/874.e8bcc3bf.iframe.bundle.js.LICENSE.txt
storybook-static/897.c79f901cc6a6fc932470.manager.bundle.js
storybook-static/897.c79f901cc6a6fc932470.manager.bundle.js.LICENSE.txt
storybook-static/935.be0092e81185b3ec5674.manager.bundle.js
storybook-static/958.4cf56f24.iframe.bundle.js
storybook-static/958.4cf56f24.iframe.bundle.js.LICENSE.txt
storybook-static/958.4cf56f24.iframe.bundle.js.map
storybook-static/favicon.ico
storybook-static/iframe.html
storybook-static/index.html
storybook-static/main.01eb4ecea8870f3a4901.css
storybook-static/main.2257c6d2dd8d0be8a8dc.manager.bundle.js
storybook-static/main.aa5d8068.iframe.bundle.js
storybook-static/project.json
storybook-static/runtime~main.427705db027e004d6366.manager.bundle.js
storybook-static/runtime~main.f78f9daf.iframe.bundle.js
storybook-static/static/media/code-brackets.2e1112d7.svg
storybook-static/static/media/colors.a4bd0486.svg
storybook-static/static/media/comments.a3859089.svg
storybook-static/static/media/direction.b770f9af.svg
storybook-static/static/media/flow.edad2ac1.svg
storybook-static/static/media/plugin.d494b228.svg
storybook-static/static/media/repo.6d496322.svg
storybook-static/static/media/stackalt.dba9fbb3.svg
storybook-static/main.a5e1c20a.iframe.bundle.js
